body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle at center, #d6d6d6 0%, #dbdbdb 20%, #eeeeee 80%);
  font-family: Arial, sans-serif;
  color: white;
}

/* Main Content Section */
.content {
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px; /* Add margin-top to create empty space below the header */
}


/* Header Wrapper */
.head-wrapper {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  position: fixed; /* Fixed position to keep the header at the top */
  top: 0; /* Align to the top of the viewport */
  z-index: 1000; /* Ensure it stays above other elements */
}

/* CMP Container */
.cmp-container {
  width: 1280px;
  height: 80px;
  display: flex;
  align-items: center; /* Adjust alignment */
}

/* Header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Adjust alignment */
  align-items: center;
}

/* Logo inside the Header */
.logo {
  width: 155px;
  height: 40px;
}

/* Navigation Menu */
.nav {
  list-style-type: none;
  display: flex;
  padding: 0; 
  margin: 0;
}

/* List Items in Navigation Menu */
.nav li {
  margin-right: 50px;
}

/* Anchor Tags in Navigation Menu */
.nav a {
  color: black;
  text-decoration: none;
  font-weight: 550;
  display: block;
  transition: text-decoration 0.3s; /* Smooth transition for hover effects */
}

/* Hover Effect for Anchor Tags in Navigation Menu */
.nav a:hover {
  text-decoration: underline;
  text-underline-offset: 1.5em; /* Distance of underline from text */
  text-decoration-thickness: 5px;
}

.dropdown {
  position: relative; /* Ensure that absolute positioning is relative to the dropdown */
}

/* Hover Effect for Dropdown Content */
.dropdown:hover .dropdown-content,
.dropdown-content:hover { /* Maintain display of dropdown when hovering over the dropdown content */
  display: block;
}

/* Invisible Hit Area */
.dropdown-content::before {
  content: '';
  position: absolute;
  top: -1.6em; /* Negative value on top to extend the trigger area upwards to the trigger element */
  height: 1.6em; /* Same height as the top value to fill the gap */
  left: 0;
  right: 0;
  background: transparent; /* Invisible hit area */
  display: block;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 transform: translateY(1.6em); /* Distance of Dropdown menu from text */
}

/* Hover Effect for Dropdown Content */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Anchor Tags inside Dropdown Content */
.dropdown-content a {
  color: #505050;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 400;
  font-size: 11px;
  transition: background-color 0.3s, font-weight 0.3s; /* Smooth transition for hover effects */
}

/* Reset hover effects for dropdown items */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #000000;
  font-weight: 600; /* Bolder text on hover */
  text-decoration: none; /* Removes underline from dropdown items on hover */
  position: relative; /* Position relative to allow absolute positioning of pseudo-elements */
}

.dropdown-content::before:hover + .dropdown-content {
  display: block; /* Ensure dropdown stays visible when hovering over the invisible hit area */
}

/* Add '>' character after the link text on hover */
.dropdown-content a:hover::after {
  content: ' >';
  position: absolute;
  right: 16px; /* Align to the right, you can adjust this value as needed */
  transition: opacity 0.3s; /* Fade-in effect for the '>' character */
  opacity: 0; /* Start with the character invisible */
}

/* Show the '>' character when hovering */
.dropdown-content a:hover::after {
  opacity: 1; /* Make the character visible */
}


/* Slide Show Section */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.slideshow-container {
  position: relative;
  width: 1306.91px;
  height: 616.69px;
  margin: auto;
  margin-top: 40px;

}

.slides {
  position: relative;
  height: 616.69px;
}

.slide {
  display: none;
  position: absolute;
  width: 1306.91px;
  height: 616.69px;
}

.slide img {
  width: 1306.91px;
  height: 616.69px;
  object-fit: fit;
  border-radius: 16px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.prev { left: 0; }
.next { right: 0; }

.slideshow-container input[type="radio"] {
  display: none;
}

.dots {
  text-align: center;
  position: relative;
  margin-top: 10px; /* Adjusted to move the dots below the slideshow container */
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border: 2px solid rgba(113, 113, 113, 0.8);
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slide-radio:checked + .slide {
  display: block;
}

{
  .slide-radio:checked + .slide + .dots .dot 
    background-color: rgba(51, 51, 51, 0.8); /* dark color for active dots */
    border-color: rgba(51, 51, 51, 0.8); /* dark border for active dots */
}

.slide-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 40px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.slide-button:hover {
  background-color: #bababa; /* Greyish background when hovered over */
}

/* Company Ad List */

.company-ad-text{
  color: black;
  text-align: center;
}

.company-ad-images{
  display: block;
  margin-right: 670px;
  margin-left: auto;
  width: 50%;

}

/* Exploring Colours */

.discover-container {
    display: flex;
    flex-wrap: wrap;
    width: 1274px; /* Adjusted width to accommodate 5 squares with gaps */
    height: 799.85px; /* Adjusted height to accommodate 4 rows with gaps */
    gap: 32px;
    padding: 16px; /* Ensures the container has space for the gap */
    box-sizing: border-box;
    justify-content: space-between; /* This ensures that the items are spaced out evenly */
    align-content: space-between; /* This aligns the rows with space between */
    margin: auto; /* centers the container in the available space */
}

.square {
    width: 240px; /* Adjusted width to accommodate 5 squares with gaps */
    height: 240px; /* Adjusted height to accommodate 5 squares with gaps */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensures the image does not bleed outside the border-radius */
    background-color: #f7f7f7; /* Just for visualization */
    position: relative;
}

.square img {
    width: 100%; /* Ensures the image fills the square */
    height: 100%; /* Ensures the image fills the square */
    object-fit: fit; /* Scales the image to fit the size of the square without cropping */
    object-position: center; /* Centers the image within the square */
}
.EOB-button {
  position: relative;

  top: 100%;
  left: 50%;
  transform: translate(-50%, 700%);
  width: 280px;
  height: 40px;


  color: black;
  border: 2px solid black;
  border-radius: 20px; /* Rounded corners */
  border-color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.EOB-button:hover {
  color: #8f8f8f; /* Greyish background when hovered over */
  border-color: #8f8f8f;
}

}

/* Resetting default padding and margin for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Palette Colours */

.explore-container {
    display: flex;
    flex-wrap: wrap;
    width: 1274px; /* Adjusted width to accommodate 5 squares with gaps */
    height: 799.85px; /* Adjusted height to accommodate 4 rows with gaps */
    gap: 32px;
    padding: 16px; /* Ensures the container has space for the gap */
    box-sizing: border-box;
    justify-content: space-between; /* This ensures that the items are spaced out evenly */
    align-content: space-between; /* This aligns the rows with space between */
    margin: auto; /* centers the container in the available space */
}

.wide-square {
    width: 352px; /* Adjusted width to accommodate wider squares with gaps */
    height: 240px; /* Keeping the same height */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensures the image does not bleed outside the border-radius */
    background-color: #f7f7f7; /* Just for visualization */
    position: relative;
}

.wide-square img {
    width: 352px; /* Ensures the image fills the square */
    height: 240px; /* Ensures the image fills the square */
    object-fit: fill; /* Scales the image to fit the size of the square without cropping */
    object-position: center; /* Centers the image within the square */
}
.EOB-button2 {
  position: relative;

  top: 100%;
  left: 50%;
  transform: translate(-50%, 700%);
  width: 280px;
  height: 40px;


  color: black;
  border: 2px solid black;
  border-radius: 20px; /* Rounded corners */
  border-color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.EOB-button2:hover {
  color: #8f8f8f; /* Greyish background when hovered over */
  border-color: #8f8f8f;
}

}

/* Resetting default padding and margin for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wide-square:hover {
    opacity: 0.5; /* Decrease opacity on hover to 50% */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(0, 140, 186, 0.5); /* Semi-transparent blue overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ensure the overlay appears above the image */
}

.wide-square:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

.overlay-text {
    color: black;
    font-size: 20px;
  text-align: center;
}

.square:hover {
    opacity: 0.5; /* Decrease opacity on hover to 50% */
}


.square:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

.Colours-Label-Text{
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;

}

.Colours-Label-Discription{
color: #707070;
text-align: center;
  
}

.Gradient-Label-Text{
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;

}

.Gradient-Label-Discription{
color: #707070;
text-align: center;

}


/* Footer CSS */
.footer__container {
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
  color: #fff;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3 ease-out;
}

.footer__link--items a:hover {
  color:                        #7b9ec1;
  transition: 0.3 ease-out;
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website__rights {
  color: #fff;
}